In [ ]:
import pandas as pd
import os
import re
import nltk

from nltk.corpus import wordnet
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
df_biz = pd.read_csv("/content/CA_Biz.csv")

# df_biz.groupby(['city'], group_keys=True).count().nlargest(n=10, columns="business_id")

In [ ]:
df_biz.head()

,Unnamed: 0,business_id,name,state,city,stars,review_count,categories
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",CA,Santa Barbara,5.0,7,"Doctors, Traditional Chinese Medicine, Naturop..."
1,26,noByYNtDLQAra9ccqxdfDw,H&M,CA,Santa Barbara,3.0,24,"Women's Clothing, Accessories, Children's Clot..."
2,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,CA,Santa Barbara,4.0,389,"Food, Restaurants, Salad, Coffee & Tea, Breakf..."
3,91,nUqrF-h9S7myCcvNDecOvw,Iron Horse Auto Body,CA,Santa Barbara,4.5,32,"Towing, Automotive, Body Shops"
4,120,bYjnX_J1bHZob10DoSFkqQ,Tinkle Belle Diaper Service,CA,Santa Barbara,5.0,17,"Parenting Classes, Maternity Wear, Fashion, Ed..."

In [ ]:
df_review = pd.read_csv("/content/CA_review.csv")

<ipython-input-249-dc65ae40f234>:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_review = pd.read_csv("/content/CA_review.csv")

In [ ]:
df_merged = pd.read_csv("/content/merged1.csv")

In [ ]:
# Category lists
time_related = ['time', 'wait', 'forever', 'slow', 'fast', 
                'takes forever', 'busy', 'crowded', 'line',
                'delay', 'delayed' 'wasted', 'late']

service_related = ['rude', 'bad', 'horrible', 'management',
                   'manager', 'customer service', 'service',
                   'arrogant', 'unfriendly', 'terrible', 'mistake',
                   'unfortunate', 'pathetic', 'awful']

pattern_1 = re.compile('|'.join(time_related))
pattern_2 = re.compile('|'.join(service_related))

df_merged['is_time'] = df_merged['text'].str.contains(pattern_1, regex=True).apply(lambda x : 1 if x else 0)
df_merged['is_service'] = df_merged['text'].str.contains(pattern_2, regex=True).apply(lambda x : 1 if x else 0)

df_merged.head()

,Unnamed: 0,Unnamed:_0_Biz,review_id,user_id,business_id,stars_Biz,useful,funny,cool,text,...,Sandwiches,Lemmatized_City,Unnamed:_0,review_count_user,yelping_since,useful_user,funny_user,cool_user,is_time,is_service
0,0,13,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,0,0,0,Had a party of 6 here for hibachi. Our waitres...,...,0.0,santa barbara,9762.0,12.0,2016-07-23 00:11:59,3.0,1.0,2.0,1,1
1,1,88802,qRhOkdYNO1URgn1WJfK1cg,59MxRhNVhU9MYndMkz0wtw,W7gSJz80DywKnPRIGjA2Bw,5,0,0,0,just moved right down the street from derfs an...,...,0.0,santa barbara,9762.0,12.0,2016-07-23 00:11:59,3.0,1.0,2.0,0,1
2,2,135127,ZZbpYMY4s8sVQGEU1jAuVA,59MxRhNVhU9MYndMkz0wtw,l_slvEnh4v3W8BXF1gYlcQ,5,0,0,0,"Sarah Jacob, the promotional manager really al...",...,0.0,santa barbara,9762.0,12.0,2016-07-23 00:11:59,3.0,1.0,2.0,0,1
3,3,14,_Ub20uO1MKy4XOVPOdzpqw,lUYboGI6aFbZ0dX27pijpA,gebiRewfieSdtt17PTW6Zg,1,0,2,0,"Sat down over a half hour, only miso and drink...",...,0.0,santa barbara,10934.0,1.0,2015-08-03 00:21:55,0.0,2.0,0.0,1,0
4,4,15,-DjIfoNFAiT5J4kF9hXocQ,SrfDRvGKI8FQq9LCr0dQuQ,gebiRewfieSdtt17PTW6Zg,3,9,4,6,Not bad. Sushi roll was good but options were ...,...,0.0,santa barbara,9222.0,297.0,2014-07-28 06:59:06,558.0,206.0,267.0,1,1

In [ ]:
# df_merged.to_csv('merged2.csv')

In [ ]:
df_merged.groupby(['is_time']).count()

,Unnamed: 0,Unnamed:_0_Biz,review_id,user_id,business_id,stars_Biz,useful,funny,cool,text,...,Restaurants,Sandwiches,Lemmatized_City,Unnamed:_0,review_count_user,yelping_since,useful_user,funny_user,cool_user,is_service
is_time,,,,,,,,,,,,,,,,,,,,,
0,69098,69098,69098,69098,69098,69098,69098,69098,69098,69098,...,69097,69097,69097,69097,69097,69097,69097,69097,69097,69098
1,74119,74119,74119,74119,74119,74119,74119,74119,74119,74119,...,74119,74119,74119,74119,74119,74119,74119,74119,74119,74119

In [ ]:
df_merged.columns.values

array(['Unnamed: 0', 'Unnamed:_0_Biz', 'review_id', 'user_id',
       'business_id', 'stars_Biz', 'useful', 'funny', 'cool', 'text',
       'date', 'Unnamed:_0_rev', 'name', 'state', 'stars_rev',
       'review_count', 'categories', 'is_Bar', 'American_(New)',
       'American_(Traditional)', 'Bars', 'Breakfast_&_Brunch',
       'Coffee_&_Tea', 'Food', 'Mexican', 'Nightlife', 'Other',
       'Restaurants', 'Sandwiches', 'Lemmatized_City', 'Unnamed:_0',
       'review_count_user', 'yelping_since', 'useful_user', 'funny_user',
       'cool_user', 'is_time', 'is_service'], dtype=object)

In [ ]:
df_cleaned = df_merged[df_merged['Restaurants'] == 1]

# Subset the data frame to include relevant columns
df_subset = df_cleaned[['stars_Biz', 'is_service', 'is_time']]

# Calculate the count of reviews for each combination of 'is_service' and 'is_time' values and 'stars_Biz' values
grouped_data = df_subset.groupby(['is_service', 'is_time', 'stars_Biz']).size().reset_index(name='count')

# Pivot the data to create the desired matrix
matrix_data = grouped_data.pivot(index=['is_service', 'is_time'], columns='stars_Biz', values='count')

# Rename the columns with the stars_Biz values
matrix_data.columns = ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']

# Create the crosstab matrix
matrix = pd.DataFrame(matrix_data.to_records())

# Reorder the columns
matrix = matrix[['is_service', 'is_time', '1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']]

matrix

   is_service  is_time  1 Star  2 Stars  3 Stars  4 Stars  5 Stars
0           0        0    2329     2569     4455    11337    22553
1           0        1    2208     2582     4539    11599    18733
2           1        0    2045     1440     2027     3664     7836
3           1        1    4144     3386     4027     6048     9311

In [ ]:
test = df_merged[df_merged['Restaurants'] == 1]

test3 = test.groupby(['Lemmatized_City', 'name']).agg({'review_id': 'count'}).sort_values('review_id', ascending=False)

test3.head(50)

                                                       review_id
Lemmatized_City name
santa barbara   Brophy Bros - Santa Barbara                 3003
                Santa Barbara Shellfish Company             2444
                La Super-Rica Taqueria                      1802
                Los Agaves                                  1694
                Sandbar                                     1590
                Lilly's Tacos                               1246
                Enterprise Fish                             1151
                Cold Spring Tavern                          1036
                Boathouse at Hendry's Beach                 1030
                Eureka!                                     1030
                Santo Mezcal                                1002
carpinteria     Padaro Beach Grill                           910
                The Worker Bee Cafe                          849
santa barbara   Dawn Patrol                                  819
                Bluewater Grill - Santa Barbara              799
                Backyard Bowls                               785
isla vista      Freebirds                                    687
goleta          Cajun Kitchen Cafe                           686
santa barbara   Renaud's Patisserie & Bistro                 678
summerland      Summerland Beach Cafe                        676
santa barbara   The Natural Cafe                             664
                Lure Fish House                              659
                The Palace Grill                             656
                Finch & Fork                                 591
                The Lark                                     589
goleta          Hollister Brewing Company                    569
santa barbara   Holdren's Steaks & Seafood                   557
                Shoreline Beach Cafe                         545
                Bouchon                                      524
                Santa Barbara Roasting Company               522
                Hibachi Steak House & Sushi Bar              502
                Norton's Pastrami & Deli                     501
isla vista      Woodstock's Pizza Isla Vista                 498
santa barbara   Zaytoon                                      495
                Olio E Limone Ristorante                     494
                Mesa Verde                                   483
                Cajun Kitchen Cafe                           478
goleta          Los Agaves                                   474
carpinteria     Siam Elephant                                470
santa barbara   Arigato Sushi                                462
                Chad's                                       460
                Blush Lounge                                 459
                Santa Barbara FisHouse                       456
                The Shop Kitchen                             452
                Chase Restaurant                             444
                Jeannine's American Bakery Restaurant        441
                Andersen's Danish Bakery & Restaurant        441
                Pascucci                                     439
                Rusty's Pizza Parlor                         435
                Tupelo Junction Cafe                         432

In [ ]:
# test = df_merged[df_merged['Restaurants'] == 1]
# test2 = test[(test['is_time'] == 1) | (test['is_service'] == 1)]

# test3 = test2.groupby(['Lemmatized_City', 'name', 'review_count'], group_keys=True).count().nlargest(n=100, columns="Restaurants")

# test3.head(50)